doctype html
html(lang='en', data-ng-app='bioseq')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title #{title}
        link(href="/lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

        link(href="/img/favicon.ico", rel="shortcut icon", type="image/x-icon")

    body(data-ng-cloak)

        nav#navbar.navbar.navbar-default(role="navigation")
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(title='Test http-proxy', href='/')
                strong Test http-proxy
                small.text-muted &nbsp;Test

        .container-fluid.main(data-ui-view)

        //Dependencies
        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/angular/angular.js')
        script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
        script(src='/lib/socket.io-client/dist/socket.io.min.js')

        //Core
        script(src='/js/core/app.js')

        script(type="text/ng-template", id="404")
            include ./404
        script(type="text/ng-template", id="401")
            include ./401

        //Home
        script(src='/js/home/HomeCtrl.js')
        script(type="text/ng-template", id="home")
            include ../home/home

